@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Pangolin');
/*font-family: 'Pangolin', cursive;*/
/*font-family: 'Architects Daughter', cursive;*/


html, body {
  height: 100%;
  width: 100%;
  background-image: url("../image/1.jpg");
  background-size: cover;
  background-position: center center;
}

*
{
  margin: 0;
  padding: 0;

}

/*responsive*/

@media screen and (max-width: 500px) {
    .bg {
      padding: 0 5%;
    }
}

/*homepage*/

div#bg1
{
  height: 100vh;
  background-color: black;
  background-image: url("../image/1.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 2em;
}

#bg1>h1
{
  font-size: 70px;
  color: #f0f3f4;
  text-align: center;
  font-family: 'Pangolin', cursive;
}
#bg1>div>h2
{
  font-size: 30px;
  color: #f0f3f4;
  text-align: center;
  font-family: 'Pangolin', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*1er page*/

div#bg3
{
  background-color: black;
  background-image: url("../image/1.jpg");
  background-size: cover;
  /*background-position: center center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}


div.titreUnivers
{
  text-align: center;

}
.l
{
  color:  #d4ac0d ;
  font-size: 100px;
  font-family: 'Pangolin', cursive;
  text-align: center;
}

#bg3 h1
{
  color: #f4f6f6;
  font-size: 80px;
  font-family: 'Pangolin', cursive;
}
.prestUtitre
{
  font-size: 20px;
  color:  #f0f3f4 ;
}

div.prestUnivers
{
  color: white;
  font-family: 'Pangolin', cursive;
  width: 45%;
}

.soustitrebg3
{
  color: #d4ac0d;
  font-size: 25px;
}

span.question
{
  color: #d4ac0d;
}

span.reponse
{
  color: #FE0000;
}

div#bg2
{
  height: 100vh;
  background-color: black;
  background-image: url("../image/1.jpg");
  background-size: cover;
  /*background-position: center center;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*page 2*/

div#bg4
{
  background-color: black;
  background-image: url("../image/1.jpg");
  background-size: cover;
  /*background-position: center center;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h1 .spanSolaire
{
  color:  #d4ac0d ;
  font-size: 100px;
  font-family: 'Pangolin', cursive;
  text-align: center;
}
#bg4 h1
{
  margin-top: 4%;
  text-align: center;
  color: #f4f6f6;
  font-size: 60px;
  font-family: 'Pangolin', cursive;
}
.prestStitre
{
  color:  #f0f3f4 ;
}

div.prestSolaire
{
  color: white;
  font-family: 'Pangolin', cursive;
  width: 45%;
  align-self: center;
}

#imgSsolaire
{
  width:90vw;
  margin-left: 5%;
  margin-top: 2%;
}

/*page 3 */

div#bg5
{
  background-color: black;
  background-image: url("../image/1.jpg");
  background-size: contain;
  background-repeat: repeat;
  /*background-position: center center;*/
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
#bg5 h1
{
  text-align: center;
  color: #f4f6f6;
  font-size: 60px;
  font-family: 'Pangolin', cursive;
}

p.planetetitre
{
  color: #f4f6f6;
  font-family: 'Pangolin', cursive;
}

.presplanete
{
  width: 45%;
  color: white;
  font-family: 'Pangolin', cursive;
  width: 45%;
  align-self: center;
}

.splanete
{
  color: #d4ac0d;
}

h5.soustitrebg5
{
  font-size: 25px;
  padding: 25px 0;
}

#imgpnaine
{
  width: 450px;
  height: 350px;
}

/*page 4 */

.imgplanete
{
  width: 350px;
  height: auto;
  transform: scale(1, 1) rotate(0deg);
  transition: 1s;
}

.imgplanete:hover
{
  transform: scale(1.1,1.1) rotate(20deg);
}

div#bg6
{
  background-color: black;
  background-image: url("../image/1.jpg");
  background-size: contain;
  background-repeat: repeat;
  /*background-position: center center;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div#bg7
{
  height: 100vh;
  background-color: black;
  background-image: url("../image/2.jpg");
  background-size: cover;
  /*background-position: center center;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
